.body{
	top:0px;
	left:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;	
}
.standardSchrift {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.belegt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #E27575;
	border: 1px ridge #000000;
	text-align: center;
}
.frei {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #00FF00;
	border: 1px ridge #000000;
	text-align: center;
}
.reserviert {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #6666FF;
	border: 1px ridge #000000;
	text-align: center;
}
.samstagReserviert {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: lightblue;
	border: 1px ridge #000000;
	text-align: center;
}
.standardSchriftBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}
.ueberschrift {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
.table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #FFFFFF;
	border: 1px ridge #CA0000;
	
}
.tableColor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #FFFFCC;
	border: 1px ridge #CA0000;
}
hr{
	border: 1px solid #CA0000;
}
.button200pxB {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #E27575;
	height: 25px;
	width: 200px;
	color: #FFFFFF;
	border: 1px ridge #CA0000;
}
.button200pxA {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #FFFFFF;
	height: 25px;
	width: 200px;
	border: 1px ridge #CA0000;
}
.li_button_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #FFFFFF;
	height: 25px;
	width: 100px;
	border: 1px ridge #CA0000;
}
.li_button_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #E27575;
	height: 25px;
	width: 100px;
	color: #FFFFFF;
	border: 1px ridge #CA0000;
}
.backgroundColor {
	background-color: #FFFFFF;
}
