#breadcrumps {
	width: auto;
	margin-left: 200px; 
	margin-top: 3px;
	color:black;
	border-bottom: 1px solid;
}

#container {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	width: auto;
	height: 95%;
	background-color: transparent;
	/* background-image: url(../pic/bg_line.gif); */
	background-repeat: repeat-y;
	background-attachment: scroll;
	background-x-position: 0%;
	background-y-position: 0%;
}

#content {
	background-color: #FFFFFF;
	width: auto;
	margin-left: 200px; 
	position: relative; 
	
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	height:92%;
}

#footer {
	width:100%;
	border-top:1px solid #000;
	float:left;
	color:#000;
	text-align:center;
	height: 5%;
	background-color: #fee600;
}

#header{
	position: relative;
	top: 0px; left: 0px;
	width: auto;
	height: 161px;
}
#headertext{
	position: absolute;
	top: 20px;
	left: 550px;
	font-size: 40px;
	font-weight: bolder;
}

#logo {
	position: absolute;
	top: 20px;
	right: 20px;
}

#left {
	float: left;
	width: 175px;
	margin-top: 15px;
	margin-left: 0px;
}

#left_inhalt {
	float: left;
	width: 1000px;
	margin-top: 0px;
	margin-left: 0px;
}

#nav_lang {
	margin-top: -5px;
	margin-right: 20px;
	color: #FFFFFF;
	float:right;
}

#nav_main {
	margin-top:-3px;
	float:left;
	margin-left:20px;
}

#navigation {
	position: absolute;
	top: 142px;
	left: -30px;
}

#page {
	width: auto;
	background-color: #F7F7F7;
	position: relative;
	margin-top: 20px; 
	margin-left: 20px;
	margin-right: 20px;
	height:75%;
}

#page_login {
	width: 100%;
	background-color: #F7F7F7;
	position: absolute;
	margin-top: 20px; 
	left: 20px;
	height:70%;
	text-align:left;
	padding: 10px;
}

#topimage {
	position: absolute;
	top: 10px; 
	left: 20px;
}

#user {
	position:absolute;
	top: 162px; 
	right:26px;
	color: #FFFFFF;
	float:left;
}

a.breadcrumps_link, a.breadcrumps_link a, a.breadcrumps_link a:link, a.breadcrumps_link a:visited{	
	background:url(../pic/pfeil.gif) no-repeat;			
	font-size:9px;
	color:#152c32;
	font-weight:normal;	
	padding-top: 3px;	
	padding-left: 10px;
	text-decoration:none;
}

.belegt{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #00000;
	background-color: #FF0000;
	border: 1px ridge #000000;
	text-align: left;
}

.block{
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	background-color: #808080;
	border: 1px ridge #000000;
	text-align: center;
}

.button {
	background-color:#CCCCCC;
	border:1px solid #999999;
	color:#333333;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
}

.button_nolink {
	background-color:#FFFFFF;
	border:1px solid #999999;
	color:#333333;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
}

.button_nav {
	background-color:#CCCCCC;
	border:1px solid #999999;
	color:#333333;
	width:128px
}

.frei{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	background-color: #fee600;
	border: 1px ridge #000000;
	text-align: left;
}

.label {
	text-align:left;
}

.moduletable_line {
	border-collapse:collapse;
	border:solid #000;
	border-width:1px 0 0 1px;
	margin-top:-10px;
}

.moduletable_line th, .moduletable_line tr, .moduletable_line td {
	border:solid #000;
	border-width:1px 1px 1px 1px; /* top, right, bottom, left*/
	padding:2px;
}

.moduletable_reservierung {
	border-collapse:collapse;
	border:solid #000;
	border-width:1px 0 0 1px;
	margin-top:0px;
}

.moduletable_reservierung th, .moduletable_reservierung tr, moduletable_reservierung td{
	border:solid #000;
	border-width:1px 1px 1px 1px; /* top, right, bottom, left*/
	padding:2px;
	text-align:center;
}
.moduletable_reservierung td {
	width: 14px;
}


.standardschrift {
	font-size:11px;
	color:#152c32;
	font-weight:normal;
	text-align: justify;
}

.table-menu {
	margin-left:-5px;
	padding-bottom:20px;
}

.table_line{
	border:1px;
	border-collapse: collapse;
	margin-top:-10px;
	margin-left:-35px;
}

a, a:link, a:visited {
	color: #152C32;
	text-decoration: underline;
}

a:hover {
	text-decoration:none;
}

a.navel, .navel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 4px; padding-right: 4px;
	color: #FFFFFF;
}

a.navel:hover, .navel:hover {
	text-decoration:underline;
}

a.navel_sub, a.navel_sub:link, a.navel_sub:visited, .navel_sub {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	display: block;
	width: 160px;
	height: 20px;
    margin-bottom: 4px;
	padding-left: 10px;
	padding-right: 4px;
	background-color: #FFFFFF;
	text-transform: uppercase;
}

a.mainlevel:link,a.mainlevel:hover,a.mainlevel:visited {
	color:#333333;
	display:block;
	padding-left:13px;
	min-height:21px;
/*	background:url(../pic/pfeil.gif) no-repeat; */
	font-weight:normal;
}

a.sublevel:link,a.sublevel:hover,a.sublevel:visited {
	color:#333333;
	display:block;
	padding-left:10px;
	margin-left:6px;
	height:16px;
/*	background:url(../pic/pfeil.gif) no-repeat; */
	font-weight:normal;
}

body {
	color: #152C32;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin:0px;
	text-align:justify;
	height:100%;
	background:url(../pic/bg.gif) repeat-x #FFFFFF;
}

div, form {
	margin:0; padding:0;
}

h1 {	
	font-size: 12px;
	border-bottom:1px solid #CCCCCC;
	color: #333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	width:100%;
	margin-bottom:5px;
	padding-bottom:5px;
}

h1_menu {
	font-weight: bold;
	color: #152C32;
	font-size: 11px;
	line-height: 180%;
}

h2 {
	color:#152c32;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:nomal;
	text-align: justify;
	margin-top: -15px;
}

h2_menu {
	font-size:12px;
	color:#152c32;
	font-weight:bold;
	text-align: justify;
}

html {
	overflow-x:hidden;
}

p, div, input {
	color: #152c32;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

img {
	border:none;
}

span, option, select, tr, th, td, label, textarea{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#152c32;
	font-weight:normal;
	text-align: justify;
}

table{	
	text-align:left;
	margin-top:0px;
	margin-left:0px;
	padding-top:1px;
	padding-bottom:1px;
}

ul {
/*	list-style:url(../pic/pfeil_liste.gif); */
	/* problem bei ie 
	margin:0;*/
	padding:0;
	margin-left:15px;
}

ul li a, .pagenavcounter {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}

ul#mainlevel-nav
{
	margin:0;
	margin-left:25px;
	padding:0;
}

ul#mainlevel-nav li
{
	list-style: none;
	display:inline;
	/*background:url(../pic/top_menue_trennbalken.gif) right no-repeat;*/
	padding:0px 10px 0px 10px;
}

ul#mainlevel-nav li a
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 4px; padding-right: 4px;
	color: #00000;	
}
ul#mainlevel-nav li a:hover{
	color: #00000;
	text-decoration:underline;
}